vendor
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
.git
.gitignore
 .github
storage/*.key
storage/pail
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
public/storage
whatsapp-service/.wwebjs_cache
